@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
.header {
  border-bottom: 5px solid #5000ff;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 100px;
  width: 100%;
}
.logo {
    background-color: #5000ff;
    display: contents;
}
